body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.forma {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.forma > input {
  padding: 5px;
  margin: 10px;
}

.lentele {
  margin: 50px;
}

button {
  margin: 7px;
  
}

.modalas {
  position: absolute;
  
  padding: 30px;
  margin: 100px;
  width: 50vw;
  height: 20vh;
  background: rgba(178, 235, 211, 0.8);
  z-index: 300;
  top: 20%;
  left: 20%;
  border: 2px solid blue;
  
}

.sortas {
  border: 5px solid bisque;
  padding: 10px;
  margin: 10px;
}

.form-container {
  margin: 20px;
  padding: 30px;
  border: 2px solid black;
}



